body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita barras de desplazamiento */
}

#mi-iframe {
    width: 100vw; /* 80% del ancho de la ventana */
    height: 80vh; /* 100% de la altura de la ventana */
    border: none; /* Elimina el borde del iframe */
    margin-left: -20vw;
    
    
}